body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}
@font-face {
  font-family: SFPro;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/bochili/fontscdn2/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: SFLight;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/bochili/fontscdn2/SF-Pro-Text-Light.otf");
}
@font-face {
  font-family: SFThin;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/bochili/fontscdn2/SF-Pro-Text-Thin.otf");
}
@font-face {
  font-family: googlesans;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/bochili/fontscdn/GoogleSans-Regular.ttf");
}
@font-face {
  font-family: SFMono;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/bochili/fontscdn2/SF-Mono-Regular.otf");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #fff;
  font: 14px;
  font-family: SFLight, -apple-system, BlinkMacSystemFont, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  -webkit-text-size-adjust: 100%;
}
.shadow {
  box-shadow: 0px 5px 59px 0px rgba(60,60,60,0.23);
  -webkit-box-shadow: 0px 5px 59px 0px rgba(60,60,60,0.23);
}
.outer {
  margin: 0 auto;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.33333333333333%;
  margin: 0 0.833333333333333%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
  background: #fff;
}
.archive-year {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8f919d;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-entry h1 {
  font-size: 2em;
}
.article-entry h2 {
  font-size: 1.5em;
}
.article-entry h3 {
  font-size: 1.3em;
}
.article-entry h4 {
  font-size: 1.2em;
}
.article-entry h5 {
  font-size: 1em;
}
.article-entry h6 {
  font-size: 1em;
  color: #8f919d;
}
.article-entry hr {
  border: 1px dashed #ddd;
}
.article-entry strong {
  font-weight: 400;
}
.article-entry em,
.article-entry cite {
  font-style: italic;
}
.article-entry sup,
.article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup {
  top: -0.5em;
}
.article-entry sub {
  bottom: -0.2em;
}
.article-entry small {
  font-size: 0.85em;
}
.article-entry acronym,
.article-entry abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin: 0 20px;
  line-height: 1.57143;
}
.article-entry ul ul,
.article-entry ol ul,
.article-entry ul ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul {
  list-style: disc;
}
.article-entry ol {
  list-style: decimal;
}
.article-entry dt {
  font-weight: bold;
}
.article {
  margin: 30px 0;
}
.article-inner {
  border-radius: 20px;
  overflow: hidden;
  font-weight: 300;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  transition: 0.4s all;
}
.article-fmeta {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 0.85em;
}
.article-fmeta:before,
.article-fmeta:after {
  content: "";
  display: table;
}
.article-fmeta:after {
  clear: both;
}
.article-fmeta a {
  color: #8f919d !important;
  text-decoration: none;
}
.article-fmeta a:hover {
  color: #8f919d !important;
  text-decoration: none !important;
}
.article-fmeta ul {
  line-height: inherit;
}
.article-meta {
  font-size: 0.85em;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-tag-list {
  list-style: none !important;
  margin: 0 !important;
  font-size: 0.85em;
  line-height: 1em;
}
.article-category {
  float: left;
  line-height: 1em;
  color: #8f919d;
  margin-left: 12px;
}
.article-category:before {
  content: "􀈕";
}
.article-date {
  float: left;
  line-height: 1em;
  color: #8f919d;
}
.article-date:before {
  content: "\2022";
}
@media screen and (max-width: 438px) {
  .article-category {
    float: none;
    display: block;
    margin-left: 0;
    margin-top: 25px;
  }
}
.article-header {
  padding: 25px 25px 0;
  padding-bottom: 7px;
}
.article-title {
  text-decoration: none;
  font-size: 22px;
  font-family: SFLight;
  font-weight: 350;
  color: rgba(0,0,0,0.74);
  line-height: 1.25;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #657cff;
}
.article-entry {
  color: rgba(0,0,0,0.74);
  padding: 0 25px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.57143;
  margin: 0 0 10.5px;
  font-weight: 350;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: 400;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 16px;
  font-style: thin;
}
.article-entry h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #f2f2f2;
}
.article-entry a {
  color: #657cff;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 1.57143;
  margin-bottom: 1.57143;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  padding: 10.5px 16px;
  margin: 0 0 21px;
  border: 1px dotted #eee;
  border-left: 3px solid #eee;
  background-color: #fbfbfb;
}
.article-entry blockquote p {
  margin: 0 0 0 0;
}
.article-entry blockquote footer {
  font-size: 14px;
  margin: 1.57143 0;
  font-family: SFLight, -apple-system, BlinkMacSystemFont, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #8f919d;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  border-radius: 15px;
  background: #fff;
  color: #8f919d;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #657cff;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #1e3fff;
}
.article-footer {
  font-size: 0.85em;
  padding-top: 7px;
  margin: 0 25px 25px;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #8f919d;
  text-decoration: none;
}
.article-footer a:hover {
  color: #8f919d;
}
.article-tag-list-item {
  float: left;
  margin-right: 5px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #8f919d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: rgba(0,0,0,0.74);
}
@media screen and (min-width: 768px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.57143;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px SFLight, -apple-system, BlinkMacSystemFont, PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  padding: 0 15px;
  color: rgba(0,0,0,0.74);
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .main-body {
    padding-left: 40px;
    padding-right: 40px;
  }
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .js .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function,
pre .js .function {
  color: #8959a8;
}
pre,
.highlight {
  background: #fafafa;
  margin: 10px 0;
  padding: 15px 10px;
  overflow: auto;
  font-size: 13px;
  font-family: SFMono;
  color: #4d4d4c;
  line-height: 1.5;
}
.highlight .gutter pre,
.gist .gist-file .gist-data .line-numbers {
  color: #666;
}
code {
  text-shadow: 0 1px #fff;
  padding: 0.2em 0.4em;
  margin: 0 0.3em;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 85%;
}
pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.highlight {
  position: relative;
  padding: 32px 10px 0 10px;
  border-radius: 4px;
}
.highlight:before {
  display: block;
  content: ' ';
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f6f6f6;
  padding: 0 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.highlight:after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #fc625d;
  width: 10px;
  height: 10px;
  top: 0;
  left: 15px;
  margin-top: 11px;
  -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
}
.highlight pre {
  border: none;
  margin: 0;
}
.highlight table {
  position: relative;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.highlight tr {
  border: none;
}
.highlight td,
.highlight th {
  border: none;
  padding: 0;
}
.highlight td.code,
.highlight th.code {
  width: 100% !important;
}
.highlight figcaption {
  font-size: 0.85em;
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
}
.highlight .line {
  height: 24px;
  line-height: 24px;
}
.highlight .gutter pre {
  text-align: right;
  padding-right: 0;
  padding-left: 0;
  color: #ccc;
}
#comments {
  background: #fff;
  box-shadow: 1px 2px 3px #ddd;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #657cff;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
  padding-left: 15px;
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  transition: 0.4s all;
  margin-bottom: 20px;
}
.archive-article-inner {
  width: 100%;
  padding: 20px;
}
.archive-article:hover {
  box-shadow: 0px 5px 59px 0px rgba(60,60,60,0.23);
  -webkit-box-shadow: 0px 5px 59px 0px rgba(60,60,60,0.23);
  border-radius: 20px;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  transition: 0.4s all;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: rgba(0,0,0,0.74);
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.57143;
}
.archive-article-title:hover {
  color: #657cff;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #8f919d;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  margin: 50px auto;
  background: #fff;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  color: #8f919d;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #8f919d;
  text-decoration: none;
}
#page-nav a:hover {
  background: #8f919d;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: rgba(0,0,0,0.74);
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  background: color-footer-background;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #8f919d;
}
#footer a {
  color: #657cff;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer-info {
  line-height: 1.57143;
  font-size: 0.85em;
}
#sidebar {
  display: block;
  width: 90%;
  margin: auto;
  position: relative;
}
#sidebar a {
  text-decoration: none;
  color: rgba(0,0,0,0.74);
}
#main {
  display: block;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  #sidebar {
    width: 100%;
    max-width: 18%;
    min-width: 280px;
    box-shadow: 0px 5px 59px 0px rgba(60,60,60,0.23);
    -webkit-box-shadow: 0px 5px 59px 0px rgba(60,60,60,0.23);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: inline-block;
    position: fixed;
    float: left;
    top: 10%;
    height: 80%;
  }
  #main {
    display: inline-block;
    width: 100%;
    float: right;
    max-width: 60%;
    height: 80%;
    top: 10%;
    position: fixed;
    left: 30%;
    border-radius: 50px;
    box-shadow: 0px 5px 59px 0px rgba(60,60,60,0.23);
    -webkit-box-shadow: 0px 5px 59px 0px rgba(60,60,60,0.23);
    overflow-y: scroll;
    margin: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #sidebar {
    display: block;
    position: relative;
  }
}
.avatar {
  border-radius: 1000px;
}
#sidebar li a {
  line-height: 45px;
  color: #2f3749;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1000px;
}
::-webkit-scrollbar {
  width: 4px;
}
body.theme-dark #wrap {
  background: #2e3237 !important;
  color: #fff !important;
}
body.theme-dark #sidebar a {
  color: #fff;
}
body.theme-dark #sidebar {
  background: #35383d;
}
body.theme-dark #main {
  background: #35383d;
}
body.theme-dark #main .article-title {
  color: #fff;
}
