body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: googlesans;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/bochili/fontscdn/GoogleSans-Regular.ttf");
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
.mdui-icon,
.mdui-icon::before {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;
  direction: ltr;
}
.mdui-icon {
  display: inline-block;
  text-align: center;
}
.mdui-icon::before {
  display: block !important;
  width: 24px;
  height: 24px;
}
.footer {
  text-align: center;
  padding: 50px;
}
.cui-color-theme-dark .footer {
  color: #fff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("//cdnjs.loli.net/ajax/libs/mdui/0.4.3/icons/material-icons/MaterialIcons-Regular.woff2") format('woff2'), url("//cdnjs.loli.net/ajax/libs/mdui/0.4.3/icons/material-icons/MaterialIcons-Regular.woff") format('woff');
}
.material-icons {
  font-family: 'Material Icons';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}
html,
body,
#container {
  height: 100%;
}
body {
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-text-size-adjust: 100%;
  font-family: googlesans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.o-apple {
  color: #fff;
  background: #0a73ff;
}
.outer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.26086956521739%;
  margin: 0 0.869565217391304%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.mobile-nav-on {
  overflow: hidden;
}
.v[data-class=v] .vwrap {
  border: none;
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
  -webkit-box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
  box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
  border-radius: 35px;
}
.cui-color-theme-y-purple .cui-typo a.article-tag-list-link,
.cui-color-theme-y-purple .cui-typo a.tag-list-link {
  color: #620ffb;
}
.cui-color-theme-y-purple .cui-typo a.article-tag-list-link:after,
.cui-color-theme-y-purple .cui-typo a.tag-list-link:after {
  background: #620ffb;
}
.cui-color-theme-y-blue .cui-typo a.article-tag-list-link,
.cui-color-theme-y-blue .cui-typo a.tag-list-link {
  color: #2753f2;
}
.cui-color-theme-y-blue .cui-typo a.article-tag-list-link:after,
.cui-color-theme-y-blue .cui-typo a.tag-list-link:after {
  background: #2753f2;
}
.cui-color-theme-y-cyan .cui-typo a.article-tag-list-link,
.cui-color-theme-y-cyan .cui-typo a.tag-list-link {
  color: #51f8c9;
}
.cui-color-theme-y-cyan .cui-typo a.article-tag-list-link:after,
.cui-color-theme-y-cyan .cui-typo a.tag-list-link:after {
  background: #51f8c9;
}
.cui-color-theme-y-red .cui-typo a.article-tag-list-link,
.cui-color-theme-y-red .cui-typo a.tag-list-link {
  color: #e60847;
}
.cui-color-theme-y-red .cui-typo a.article-tag-list-link:after,
.cui-color-theme-y-red .cui-typo a.tag-list-link:after {
  background: #e60847;
}
.cui-color-theme-y-yellow .cui-typo a.article-tag-list-link,
.cui-color-theme-y-yellow .cui-typo a.tag-list-link {
  color: #eac500;
}
.cui-color-theme-y-yellow .cui-typo a.article-tag-list-link:after,
.cui-color-theme-y-yellow .cui-typo a.tag-list-link:after {
  background: #eac500;
}
.cui-color-theme-y-green .cui-typo a.article-tag-list-link,
.cui-color-theme-y-green .cui-typo a.tag-list-link {
  color: #6cfda4;
}
.cui-color-theme-y-green .cui-typo a.article-tag-list-link:after,
.cui-color-theme-y-green .cui-typo a.tag-list-link:after {
  background: #6cfda4;
}
.cui-color-theme-y-pink .cui-typo a.article-tag-list-link,
.cui-color-theme-y-pink .cui-typo a.tag-list-link {
  color: #f9377e;
}
.cui-color-theme-y-pink .cui-typo a.article-tag-list-link:after,
.cui-color-theme-y-pink .cui-typo a.tag-list-link:after {
  background: #f9377e;
}
.cui-color-theme-y-black .cui-typo a.article-tag-list-link,
.cui-color-theme-y-black .cui-typo a.tag-list-link {
  color: #2e2b42;
}
.cui-color-theme-y-black .cui-typo a.article-tag-list-link:after,
.cui-color-theme-y-black .cui-typo a.tag-list-link:after {
  background: #2e2b42;
}
.cui-color-theme-s-purple .cui-typo a.article-tag-list-link,
.cui-color-theme-s-purple .cui-typo a.tag-list-link {
  color: #6718dd;
}
.cui-color-theme-s-purple .cui-typo a.article-tag-list-link:after,
.cui-color-theme-s-purple .cui-typo a.tag-list-link:after {
  background: #6718dd;
}
.cui-color-theme-s-blue .cui-typo a.article-tag-list-link,
.cui-color-theme-s-blue .cui-typo a.tag-list-link {
  color: #3651ea;
}
.cui-color-theme-s-blue .cui-typo a.article-tag-list-link:after,
.cui-color-theme-s-blue .cui-typo a.tag-list-link:after {
  background: #3651ea;
}
.cui-color-theme-s-cyan .cui-typo a.article-tag-list-link,
.cui-color-theme-s-cyan .cui-typo a.tag-list-link {
  color: #39facd;
}
.cui-color-theme-s-cyan .cui-typo a.article-tag-list-link:after,
.cui-color-theme-s-cyan .cui-typo a.tag-list-link:after {
  background: #39facd;
}
.cui-color-theme-s-red .cui-typo a.article-tag-list-link,
.cui-color-theme-s-red .cui-typo a.tag-list-link {
  color: #f4474c;
}
.cui-color-theme-s-red .cui-typo a.article-tag-list-link:after,
.cui-color-theme-s-red .cui-typo a.tag-list-link:after {
  background: #f4474c;
}
.cui-color-theme-s-yellow .cui-typo a.article-tag-list-link,
.cui-color-theme-s-yellow .cui-typo a.tag-list-link {
  color: #f4f673;
}
.cui-color-theme-s-yellow .cui-typo a.article-tag-list-link:after,
.cui-color-theme-s-yellow .cui-typo a.tag-list-link:after {
  background: #f4f673;
}
.cui-color-theme-s-green .cui-typo a.article-tag-list-link,
.cui-color-theme-s-green .cui-typo a.tag-list-link {
  color: #3ef499;
}
.cui-color-theme-s-green .cui-typo a.article-tag-list-link:after,
.cui-color-theme-s-green .cui-typo a.tag-list-link:after {
  background: #3ef499;
}
.cui-color-theme-s-pink .cui-typo a.article-tag-list-link,
.cui-color-theme-s-pink .cui-typo a.tag-list-link {
  color: #ff5c76;
}
.cui-color-theme-s-pink .cui-typo a.article-tag-list-link:after,
.cui-color-theme-s-pink .cui-typo a.tag-list-link:after {
  background: #ff5c76;
}
.cui-color-theme-s-black .cui-typo a.article-tag-list-link,
.cui-color-theme-s-black .cui-typo a.tag-list-link {
  color: #2e2f3c;
}
.cui-color-theme-s-black .cui-typo a.article-tag-list-link:after,
.cui-color-theme-s-black .cui-typo a.tag-list-link:after {
  background: #2e2f3c;
}
.cui-color-theme-l-purple .cui-typo a.article-tag-list-link,
.cui-color-theme-l-purple .cui-typo a.tag-list-link {
  color: #5431d3;
}
.cui-color-theme-l-purple .cui-typo a.article-tag-list-link:after,
.cui-color-theme-l-purple .cui-typo a.tag-list-link:after {
  background: #5431d3;
}
.cui-color-theme-l-blue .cui-typo a.article-tag-list-link,
.cui-color-theme-l-blue .cui-typo a.tag-list-link {
  color: #3651ea;
}
.cui-color-theme-l-blue .cui-typo a.article-tag-list-link:after,
.cui-color-theme-l-blue .cui-typo a.tag-list-link:after {
  background: #3651ea;
}
.cui-color-theme-l-cyan .cui-typo a.article-tag-list-link,
.cui-color-theme-l-cyan .cui-typo a.tag-list-link {
  color: #15d2a3;
}
.cui-color-theme-l-cyan .cui-typo a.article-tag-list-link:after,
.cui-color-theme-l-cyan .cui-typo a.tag-list-link:after {
  background: #15d2a3;
}
.cui-color-theme-l-red .cui-typo a.article-tag-list-link,
.cui-color-theme-l-red .cui-typo a.tag-list-link {
  color: #dd3330;
}
.cui-color-theme-l-red .cui-typo a.article-tag-list-link:after,
.cui-color-theme-l-red .cui-typo a.tag-list-link:after {
  background: #dd3330;
}
.cui-color-theme-l-yellow .cui-typo a.article-tag-list-link,
.cui-color-theme-l-yellow .cui-typo a.tag-list-link {
  color: #af925f;
}
.cui-color-theme-l-yellow .cui-typo a.article-tag-list-link:after,
.cui-color-theme-l-yellow .cui-typo a.tag-list-link:after {
  background: #af925f;
}
.cui-color-theme-l-green .cui-typo a.article-tag-list-link,
.cui-color-theme-l-green .cui-typo a.tag-list-link {
  color: #30cf9d;
}
.cui-color-theme-l-green .cui-typo a.article-tag-list-link:after,
.cui-color-theme-l-green .cui-typo a.tag-list-link:after {
  background: #30cf9d;
}
.cui-color-theme-l-pink .cui-typo a.article-tag-list-link,
.cui-color-theme-l-pink .cui-typo a.tag-list-link {
  color: #bb7979;
}
.cui-color-theme-l-pink .cui-typo a.article-tag-list-link:after,
.cui-color-theme-l-pink .cui-typo a.tag-list-link:after {
  background: #bb7979;
}
.cui-color-theme-l-grey .cui-typo a.article-tag-list-link,
.cui-color-theme-l-grey .cui-typo a.tag-list-link {
  color: #8195b2;
}
.cui-color-theme-l-grey .cui-typo a.article-tag-list-link:after,
.cui-color-theme-l-grey .cui-typo a.tag-list-link:after {
  background: #8195b2;
}
.cui-color-theme-o-apple .cui-typo a.article-tag-list-link,
.cui-color-theme-o-apple .cui-typo a.tag-list-link {
  color: #0a73ff;
}
.cui-color-theme-o-apple .cui-typo a.article-tag-list-link:after,
.cui-color-theme-o-apple .cui-typo a.tag-list-link:after {
  background: #0a73ff;
}
.cui-color-theme-dark .cui-typo a.article-tag-list-link,
.cui-color-theme-dark .cui-typo a.tag-list-link {
  color: #0a73ff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.cui-color-theme-dark .cui-typo a.article-tag-list-link:after,
.cui-color-theme-dark .cui-typo a.tag-list-link:after {
  background: #0a73ff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.mt6 {
  margin-top: 6rem;
}
#wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 1;
}
.mobile-nav-on #wrap {
  left: 280px;
}
@media screen and (min-width: 888px) {
  #main {
    display: inline;
    float: left;
    width: 67.82608695652173%;
    margin: 0 0.869565217391304%;
  }
}
@media screen and (min-width: 888px) {
  #main {
    float: right;
  }
}
.article-date,
.article-category-link,
.archive-year {
  text-decoration: none;
  text-transform: uppercase;
  color: #8195b2;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-inner {
  background: #fff;
  -webkit-box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
  box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
  border-radius: 35px;
}
.article-entry h1 {
  font-size: 2em;
}
.article-entry h2 {
  font-size: 1.5em;
}
.article-entry h3 {
  font-size: 1.3em;
}
.article-entry h4 {
  font-size: 1.2em;
}
.article-entry h5 {
  font-size: 1em;
}
.article-entry h6 {
  font-size: 1em;
  color: #8195b2;
}
.article-entry hr {
  border: 1px dashed #ddd;
}
.article-entry strong {
  font-weight: bold;
}
.article-entry em,
.article-entry cite {
  font-style: italic;
}
.article-entry sup,
.article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup {
  top: -0.5em;
}
.article-entry sub {
  bottom: -0.2em;
}
.article-entry small {
  font-size: 0.85em;
}
.article-entry acronym,
.article-entry abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin: 10px 0px;
}
.article-entry ul ul,
.article-entry ol ul,
.article-entry ul ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ol {
  list-style: decimal;
}
.article-entry dt {
  font-weight: bold;
}
.article {
  margin: 50px 0;
}
.article-inner {
  overflow: hidden;
}
.cui-color-theme-dark .article-inner {
  background: #2d3034;
  color: #ddd;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.article-sentence {
  background: #fff;
  color: #4b4b4b;
}
.cui-color-theme-dark .article-sentence {
  background: #2d3034;
  color: #ddd;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.article-sentence-meta {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #6c7b90;
  font-size: 16px;
}
.article-sentence-meta .article-date {
  margin-top: -22px;
}
font-size 14px {
  display: inline-block;
}
.article-sentence-title {
  font-weight: bold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px;
  background: #f7f7f8;
  width: 100px;
  text-align: center;
}
.cui-color-theme-dark .article-sentence-title {
  background: #3e3e48;
  color: #ddd;
  display: inline-block;
}
.article-sentence-content {
  padding: 40px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
.article-date {
  text-shadow: none;
  float: right;
}
.article-category {
  float: left;
  color: #ccc;
  text-shadow: 0 1px #fff;
  margin-left: 8px;
}
.article-category:before {
  content: "\2022";
}
.article-category-link {
  margin: 0 12px 1em;
  text-shadow: none;
}
.cui-color-theme-dark .article-title {
  color: #fff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.article-title {
  text-decoration: none;
  font-weight: bold;
  color: #2e2f3c;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
a.article-title:hover {
  color: #0a73ff;
}
.banner-div {
  max-height: 400px;
  height: 100%;
  overflow: hidden;
  margin-bottom: -4px;
}
.article-banner img {
  width: 100%;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}
.cui-color-theme-dark img {
  -webkit-filter: brightness(70%); /* Chrome, Safari, Opera */
  filter: brightness(70%);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.article-meta {
  padding-left: 26px;
  padding-right: 26px;
  margin-top: 20px;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-title {
  color: #2e2f3c;
  padding: 5px 13px;
}
.article-entry {
  padding: 0 26px;
  line-height: 30px;
  font-size: 16px;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry p,
.article-entry table {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry blockquote p {
  margin: 5px;
}
.article-entry blockquote {
  margin-bottom: 10px;
}
.article-entry a {
  text-decoration: none;
  position: relative;
  color: #0a73ff;
}
.article-entry a:after {
  content: "";
  width: 0;
  height: 1px;
  border-radius: 1000px;
  position: absolute;
  background: #0a73ff;
  top: 100%;
  left: 0%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 999;
}
.article-entry a:hover:after {
  left: 0%;
  width: 100%;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: bold;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: unset;
  border-spacing: 10px;
  border-radius: 20px;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.article-entry th {
  font-weight: bold;
  padding-bottom: 0.5em;
}
.article-entry td {
  padding: 10px 0;
}
.article-entry table td {
  position: relative;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 20px;
  text-align: left;
  vertical-align: middle;
  border: 2px solid #f1f2f9;
  border-radius: 1000px;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #8195b2;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-tag-list-item {
  float: left;
}
.article-tag-list-link {
  text-decoration: none;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.cui-typo a.article-tag-list-link:hover:after {
  left: 0%;
  width: 100%;
}
#article-nav {
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
@media screen and (min-width: 888px) {
  #article-nav {
    margin: 50px 0;
  }
  #article-nav:before {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    content: "";
    border-radius: 50%;
    background: #ddd;
    -webkit-box-shadow: 0 1px 2px #fff;
    box-shadow: 0 1px 2px #fff;
  }
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #8195b2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 50px;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #2e2f3c;
}
@media screen and (min-width: 888px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
@media screen and (min-width: 888px) {
  #article-nav-newer {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}
@media screen and (min-width: 888px) {
  #article-nav-older {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
  text-shadow: none;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
  text-shadow: none;
}
.cui-color-theme-dark .article-nav-title:hover {
  color: #fff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 26px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #0a73ff;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap {
  margin-bottom: 1em;
}
.archive-year {
  text-shadow: none;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 888px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 888px) {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #2e2f3c;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #0a73ff;
}
.cui-color-theme-dark .archive-article-title {
  color: #fff;
}
.cui-color-theme-dark .archive-article-title:hover {
  color: #0a73ff;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #8195b2;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  margin: 50px auto;
  border-radius: 1000px;
  text-align: center;
  color: #8195b2;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
  line-height: 1;
  height: 2ex;
}
#page-nav a {
  color: #8195b2;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
#page-nav a:hover {
  border-radius: 1000px;
  -webkit-box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
  box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
  -webkit-transition: 0.5s box-shadow;
  -moz-transition: 0.5s box-shadow;
  -ms-transition: 0.5s box-shadow;
  transition: 0.5s box-shadow;
}
.cui-color-theme-dark #page-nav a:hover {
  background: #2d3035;
  -webkit-box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b;
  -webkit-box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b;
  box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
#page-nav .prev {
  border-radius: 1000px;
}
#page-nav .next {
  border-radius: 1000px;
}
#page-nav .current {
  -webkit-box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
  box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
  -webkit-box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
  box-shadow: 18px 18px 30px #d1d9e6, -18px -18px 30px #fff;
  border-radius: 1000px;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#page-nav .page-number {
  margin-left: 4px;
  margin-top: 6px;
  border-radius: 1000px;
}
.cui-color-theme-dark .current {
  -webkit-box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b !important;
  -webkit-box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b !important;
  box-shadow: 3px 5px 20px #212121, -8px -5px 30px #272a2b !important;
  border-radius: 1000px;
  background: #2d3035;
  font-weight: bold;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
#footer {
  background: color-footer-background;
  color: #8195b2;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
  text-align: center;
}
.article-entry pre,
.article-entry .highlight {
  background: #f5f5f5;
  margin: 0 -26px;
  padding: 15px 26px;
  overflow: auto;
  line-height: 22.400000000000002px;
}
.cui-color-theme-dark .highlight,
.cui-color-theme-dark pre {
  background: #28292b;
  color: #ccc;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #fff;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  padding: 0;
  border: none;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0 -26px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 26px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 26px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #0a73ff;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
@media screen and (max-width: 479px) {
  #mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: color-mobile-nav-background;
    border-right: 1px solid #fff;
  }
}
@media screen and (max-width: 479px) {
  .mobile-nav-link {
    display: block;
    color: #8195b2;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
@media screen and (min-width: 888px) {
  #sidebar {
    display: inline;
    float: left;
    width: 28.695652173913043%;
    margin: 0 0.869565217391304%;
  }
}
.widget-wrap {
  background: #fff;
  border-radius: 35px;
  -webkit-box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
  box-shadow: 0px 3px 92px 0px rgba(0,0,0,0.07);
  margin-top: 50px !important;
}
.cui-color-theme-dark .widget-wrap {
  background: #2d3034;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.widget-title {
  padding: 20px 20px 10px 20px;
  font-size: 18px;
}
.widget {
  padding: 20px;
  border-radius: 35px;
}
.widget ul ul,
.widget ol ul,
.widget dl ul,
.widget ul ol,
.widget ol ol,
.widget dl ol,
.widget ul dl,
.widget ol dl,
.widget dl dl {
  margin-left: 15px;
}
.cui-color-theme-dark .widget {
  background: #2d3034;
  color: #fff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.cui-color-theme-dark .widget-title {
  color: #fff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.widget {
  line-height: 1.6em;
  word-wrap: break-word;
  font-size: 0.9em;
}
.widget ul,
.widget ol {
  list-style: none;
  margin: 0;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin: 0 20px;
}
.widget ul ol,
.widget ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: #8195b2;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.tagcloud a {
  margin-right: 5px;
  display: inline-block;
}
.blogger-avatar {
  width: 120px;
  height: 120px;
  border-radius: 1000px;
  margin-bottom: 10px;
}
.blogger-motto {
  color: #8195b2;
  font-size: 15px;
  margin-top: 15px;
}
.blogger {
  text-align: center;
  margin: auto;
  padding: 30px;
}
.blogger-btn {
  width: 70%;
  margin-top: 20px;
}
.tagcloud a {
  text-decoration: none;
  position: relative;
  color: #0a73ff;
}
.tagcloud a:after {
  content: "";
  width: 0;
  height: 1px;
  border-radius: 1000px;
  position: absolute;
  background: #0a73ff;
  top: 100%;
  left: 0%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 999;
}
.tagcloud a:hover:after {
  left: 0%;
  width: 100%;
}
a.category-list-link,
.tag-list-link {
  text-decoration: none;
  position: relative;
  color: #0a73ff;
}
a.category-list-link:after,
.tag-list-link:after {
  content: "";
  width: 0;
  height: 1px;
  border-radius: 1000px;
  position: absolute;
  background: #0a73ff;
  top: 100%;
  left: 0%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 999;
}
a.category-list-link:hover:after,
.tag-list-link:hover:after {
  left: 0%;
  width: 100%;
}
.cui-drawer-wrapper .widget {
  margin-top: -20px;
}
.cui-drawer-wrapper .widget-wrap {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navlist-active {
  font-weight: bold;
  font-size: 16px;
}
.theme-dot {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 1000px;
  vertical-align: middle;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.theme-dot:hover {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
transform scale(1.2),
.dol-text-color {
  color: #2e2f3c;
}
a.dol-text-color {
  color: #2e2f3c;
}
.cui-color-theme-dark .dol-text-color {
  color: #fff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.search-frame {
  width: 80%;
  margin: auto;
}
input#local-search-input {
  height: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 1000px;
  border: none;
  color: #2e2f3c;
  margin-top: 10px;
  text-indent: 20px;
  background: #f2f2f7;
}
input#local-search-input:focus {
  border-radius: 1000px;
}
#local-search-result a {
  text-decoration: none;
  font-size: 20px;
  color: #2e2f3c;
}
#local-search-result {
  width: 80%;
  margin: auto;
}
.search-result-item {
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
}
.cui-color-theme-dark input#local-search-input {
  background: #3e3e48;
}
.cui-color-theme-dark input#local-search-input,
.cui-color-theme-dark .search-result-item,
.cui-color-theme-dark #local-search-result a {
  color: #ddd;
}
.search-result {
  color: #8195b2;
  margin-top: 5px;
}
.search-line {
  background: #2e2f3c;
  width: 80px;
  height: 4px;
  margin: auto;
  margin-top: 20px;
  border-radius: 1000px;
}
.cui-color-theme-dark .search-line {
  background: #ddd;
}
